html,
body {
  max-width: 100vw;
  color: #ededed;
  background: #000;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #ededed;
}

a.primary {
  gap: 8px;
}

body, h1, h2, h3, h4, h5, h6, p, button, a .nav {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main {
  width: 100%;
  min-width: 100%;
  max-width: 100vw;
}

main div {
  width: 100%;
  min-width: 100%;
  max-width: 100vw;
  height: auto;

  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
}

.nav, button {
  background-color: #212529;
}

.nav-l1nk {
  color: #eef;
  text-decoration: none;
}

.nav-item {
  text-decoration: none;
  padding: 0.6rem;
}

.footer {
  grid-row-start: 3;
  display: flex;
  gap: 24px;
}

.footer a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer img {
  flex-shrink: 0;
}


/* RomVerifier */
.dotted-border {
  border-radius: 20%;
  border:#ededed 8 dotted;
}
.active-border {
  border:#ae7517 8 dotted;
}
.passive-border {
  border:#ededed 8 dotted;
}

/* CustomOptionsPanel */
.hidden-radio {
  position: fixed;
  opacity: 0;
  pointer-events: none;
}

.hidden-checkbox {
  position: fixed;
  opacity: 0;
  pointer-events: none;
}


.option-box {
  background: linear-gradient(rgba(0,0,0,0.5),rgba(255,255,255,0.5));
  border-radius: 5px;
}

.chosen-box {
  border-radius: 5px;
  border: #2b8dca 3px groove;
  background: radial-gradient(#333, #333,#2b8dca);
}
.unchosen-box {
  border: 2px black solid;
}

/* for empty "dummy" option .ips files, scoped in PlusPatcher */
.default-option {
  border-radius: 5px;
  /* border: #2b8dca 3px groove; */
  background: radial-gradient(#333, #333,#39a);
}

.nicer-btn {
  border-radius: 10px;
}

/* ImagePreviewModal */
/* all styling is local! */


/* List formatting per page */
.guides-list li a {
  font-size: 1.6em;
  color:#dfc325;
}

.guides-list li {
  list-style: none;
  padding-bottom: 0.5em;
}

.special-link {
  color: white;
}

/* Workaround for the overhyped garbage that is Bootstrap columns */
.two-column-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

@media (max-width: 576px) {
  .two-column-layout {
    grid-template-columns: 1fr;
  }
}


/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 600px) {
  .page {
    padding: 32px;
    padding-bottom: 80px;
  }

  .main {
    align-items: center;
  }

  .main ol {
    text-align: center;
  }

  .ctas {
    flex-direction: column;
  }

  .ctas a {
    font-size: 14px;
    height: 40px;
    padding: 0 16px;
  }

  a.secondary {
    min-width: auto;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}


/* index.tsx title styling */
.app-title {
  line-height: 1;
  color: #ffc;
  font-size: 50px;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 1), 4px 4px 0px #bb8;
  font-weight: bold;
  margin-bottom: 1rem;
}

.image-sizing {
  max-width: 30px;
  max-height: 30px;
  margin-left: 12px;
  margin-right: 12px;
}

.flip-horizontal {
  transform: scaleX(-1);
}

/* older styling */
.hidden-input {
  visibility: hidden;
}

.kard {
  background-color: #112;
}


/* per page styling */
.plus-patcher-bg {
  background: radial-gradient(#9d1a3f, #710f2b, #000);
}
.discord-bg {
  background: linear-gradient(#112,#000, #000);
}
.guides-bg {
  background: linear-gradient(#9d1a3f, #710f2b, #000);
}